
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/student.cshtml";
}

<style>
    .dash {
        min-height: 120px;
        box-shadow: 0px 0px 50px grey;
        padding-top: 7%;
    }
</style>
<div class="row">
    <div class="text-center fs-2">Dashboard <b class="text-warning"><i class="fa-solid fa-bars"></i></b></div>
    <div class="col-sm-10 mx-auto">
        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="/student/videocategory" style="text-decoration:none; color:black;">
                    <p class="bg-light text-center dash rounded fs-4">
                        <i class="fa-solid fa-video"></i><br />
                        Video Lectures
                    </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="/student/task" style="text-decoration:none; color:black;">

                    <p class="bg-light text-center dash rounded fs-4">
                        <i class="fa-solid fa-clock"></i><br />
                        Today Task
                    </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="/student/uploadtask" style="text-decoration:none; color:black;">
                    <p class="bg-light text-center dash rounded fs-4">
                        <i class="fa-solid fa-rotate"></i><br/>
                        Task Upload
                    </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="/student/profile" style="text-decoration:none; color:black;">
                    <p class="bg-light text-center dash rounded fs-4">
                        <i class="fa-solid fa-user"></i></i><br />
                        My Profile
                    </p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="/student/updateprofile" style="text-decoration:none; color:black;">
                    <p class="bg-light text-center dash rounded fs-4">
                        <i class="fa-regular fa-user"></i><br />
                        Update Your Profile
                    </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="/student/softwarekit" style="text-decoration:none; color:black;">
                    <p class="bg-light text-center dash rounded fs-4">
                        <i class="fa-solid fa-download"></i><br/>
                        Software Kit
                    </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="/student/studymaterial" style="text-decoration:none; color:black;">

                    <p class="bg-light text-center dash rounded fs-4">
                        <i class="fa-solid fa-file-pdf"></i>  <br />
                        Study Material

                    </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="/student/classlink" style="text-decoration:none; color:black;">
                    <p class="bg-light text-center dash rounded fs-4">
                        <i class="fa-solid fa-list-ol"></i></i><br />
                        Class Link
                    </p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="/student/sendfeedback" style="text-decoration:none; color:black;">
                    <p class="bg-light text-center dash rounded fs-4">
                        <i class="fa-solid fa-star"></i><br />
                        Sent Feedback
                    </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="/student/help" style="text-decoration:none; color:black;">
                    <p class="bg-light text-center dash rounded fs-4">
                        <i class="fa-solid fa-question"></i><br />
                        Help
                    </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="/student/changepass" style="text-decoration:none; color:black;">

                    <p class="bg-light text-center dash rounded fs-4">
                        <i class="fa-solid fa-lock"></i><br />
                        Change Password

                    </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <a href="/student/logout" style="text-decoration:none; color:black;">

                    <p class="bg-light text-center dash rounded fs-4">
                        <i class="fa-solid fa-right-from-bracket"></i><br />
                        Logout
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>


