<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <style>
        :root {
            --mycolor: linear-gradient(45deg,#4a148c,#f50057);
            --txtmycolor: #f50057;
        }

        .bg-mycolor {
            background: var(--mycolor) !important;
        }

        .txt-mycolor {
            color: var(--txtmycolor);
        }

        .a:hover {
            color: #f50057;
        }
    </style>
</head>
<body>
    <div class="row text-bg-dark text-center">
        <div class="col-lg-4 col-md-6 col-sm-12">

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            Welcome to <b class="txt-mycolor">Admin</b>  Zone
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">

        </div>
    </div>
    <div class="row menu">
        @*Start menu*@
        <nav class="navbar navbar-dark bg-dark sticky-top" style="margin-top:.1%;">
            <div class="container-fluid ps-5">

               
                    <a href="/admin/index" style="text-decoration:none; color:black;">
                        <img src="~/Content/image/Picture1.png" style="margin-left:400px;" width="300px" height="50px" />
                    </a>
               

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title txt-mycolor" id="offcanvasDarkNavbarLabel">ADMIN MENU</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/admin/index">
                                    Dashboard
                                    <i class="fa-solid fa-bars"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a" href="/admin/category">Add Video Category </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle a" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ADD
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item a" href="/admin/assignment">Add Assignment</a></li>
                                    <li><a class="dropdown-item a" href="/admin/video">Add Video</a></li>
                                    <li><a class="dropdown-item a" href="/admin/classlink">Add ClassLink</a></li>
                                    <li><a class="dropdown-item a" href="/admin/batch">Add  Batch</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle a" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Management
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item a" href="/admin/studentmgmt">Student Management</a></li>
                                    <li><a class="dropdown-item a" href="/admin/contactmgmt">Enquiry Management</a></li>
                                    <li><a class="dropdown-item a" href="/admin/submitedtask">Student Task Management</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link a" href="/admin/Contactmgmt">Contact Us Management </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a" href="/admin/changepass">Change Password </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a" href="/admin/logout">Logout </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        @*end menu*@
    </div>
    <div class="row">
        <div class="col-sm-12 py-3" style="min-height:700px;">
            @RenderBody()
        </div>
    </div>
    <div class="row bfooter text-light bg-dark" style="height:25px;">
        <div class="col-sm-12">
            <p>  &copy; copyright <b class="txt-mycolor">DayNight</b> Learning 2023 Developed By <a href="#" style="text-decoration:none;">Rahul Yadav</a>  </p>
        </div>
    </div>
    <script src="~/Content/js/bootstrap.bundle.js"></script>
</body>
</html>
