<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <style>
        :root {
            --mycolor: linear-gradient(45deg,#4a148c,#f50057);
            --txtmycolor: #f50057;
        }

        .bg-mycolor {
            background: var(--mycolor) !important;
        }

        .txt-mycolor {
            color: var(--txtmycolor);
        }

        .a:hover {
            color: #f50057;
        }

        .dd {
            width: 330px;
        }
    </style>
</head>
<body>
    <div class="row text-bg-dark text-center">
        <div class="col-lg-4 col-md-6 col-sm-12">

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            Welcome to <b class="txt-mycolor">DayNight Learning</b>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">

        </div>
    </div>
    <div class="row menu">
        @*Start menu*@
        <nav class="navbar navbar-dark bg-dark sticky-top" style="margin-top:.1%;">
            <div class="container-fluid ps-5">
                <a href="/student/index" style="text-decoration:none; color:black;">
                    <img src="~/Content/image/Picture1.png" style="margin-left:400px;" width="300px" height="50px" />
                </a>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                        @{
                            if (ViewBag.pic != null)
                            {
                                if (ViewBag.pic.Rows.Count > 0)
                                {
                                    <img src="~/Content//profilepic/@ViewBag.pic.Rows[0][0]" class="img-fluid rounded-3" style="margin-left:50px; margin-top:-30px;" width="50px" height="50px" />
                                }
                                else
                                {
                                    <i class="fa-solid fa-user text-light fs-1"></i>
                                }

                            }
                            else
                            {
                                <i class="fa-solid fa-user text-light fs-1"></i>
                            }
                        }
                    </a>
                    
                    <ul class="dropdown-menu dd">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="row">
                                    <div class="col-sm-2">
                                        @{
                                            if (ViewBag.pic != null)
                                            {
                                                if (ViewBag.pic.Rows.Count > 0)
                                                {
                                                    <img src="~/Content//profilepic/@ViewBag.pic.Rows[0][0]" class="img-fluid rounded-3" style="margin-top:20px; width:50px; height:50px;" />
                                                }
                                                else
                                                {
                                                    <i class="fa-solid fa-user text-light fs-1"></i>
                                                }

                                            }
                                            else
                                            {
                                                <i class="fa-solid fa-user text-light fs-1"></i>
                                            }
                                        }
                                    </div>
                                    <div class="col-sm-10">
                                        <p>
                                            @{
                                                if (ViewBag.stu != null)
                                                {
                                                    foreach (var r in ViewBag.stu.Rows)
                                                    {
                                                        <h6>@r[0]   <i class="fa-light fa-circle-check" style="color: #1da1f2;"></i></h6>
                                                        @r[1]
                                                    }
                                                }
                                            }
                                        </p>
                                        <p></p>
                                    </div>
                                    <hr />
                                </div>
                            </a>
                        </li>

                        <li><a class="dropdown-item text-warning fw-bold" href="/student/profile">View Your Profile</a></li>
                        <li><a class="dropdown-item a" href="/student/updateprofile">Update Your Profile</a></li>
                        <li><a class="dropdown-item a" href="/student/help">Help</a></li>
                        <li><a class="dropdown-item a" href="/student/sendfeedback">Feedback</a></li>
                        <li><a class="dropdown-item a" href="/student/changepass">Change Password</a></li>

                        <li><a class="dropdown-item text-danger" href="/student/logout">Logout</a></li>
                    </ul>
                </li>



                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <a href="/student/updateprofile" target="_blank" style="text-decoration:none;"> <p class="fw-bold txt-mycolor">Update Profile .</p></a>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/student/index">
                                    Dashboard
                                    <i class="fa-solid fa-bars"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a" href="#">Video Lectures </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a" href="#">Assignment </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a" href="#">
                                    Uploaded
                                    Assignment
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a" href="/student/profile">My Profile </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a" href="#">Sent Feedback </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a" href="#">Help </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a" href="/student/changepass">Change Password </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link a" href="/student/logout">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        @*end menu*@
    </div>
    <div class="row">
        <div class="col-sm-12 py-3" style="min-height:700px;">
            @RenderBody()
        </div>
    </div>
    <div class="row bfooter text-light bg-dark" style="height:25px;">
        <div class="col-sm-12">
            <p>  &copy; copyright <b class="txt-mycolor">DayNight</b> Learning 2023 Developed By <a href="#" style="text-decoration:none;">Rahul Yadav</a>  </p>
        </div>
    </div>
    <script src="~/Content/js/bootstrap.bundle.js"></script>
</body>
</html>
